body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    overflow: hidden;
}

#video {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    opacity: 0.8;
    font-size: 0; /* Hide any default text content */
}

#playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 3px solid white;
}

#playBtn::before {
    content: "\25B6"; /* Unicode for play icon */
    font-size: 50px;
    color: white;
}

#pauseBtn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: 3px solid darkred;
}

#pauseBtn::before {
    content: "\23F8"; /* Unicode for pause icon */
    font-size: 50px;
    color: darkred;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
