body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Optional: Dark background to highlight the buttons */
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
}

#video {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.control-button {
    background-color: transparent; /* No background color */
    border: 3px solid; /* Border color will be defined in individual classes */
    border-radius: 50%; /* Make the button round */
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0; /* Hide text content */
    position: absolute;
}

.initial-play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: white; /* White border for initial play button */
}

.initial-play::before {
    content: "\25B6"; /* Unicode for play icon */
    font-size: 40px;
    color: white; /* White icon */
}

#pauseBtn {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-color: darkred; /* Dark red border */
    background-color: darkred; /* Dark red background */
}

#pauseBtn::before {
    content: "\23F8"; /* Unicode for pause icon */
    font-size: 30px;
    color: white; /* White icon */
}

#resumePlayBtn {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-color: darkred; /* Dark red border */
    background-color: transparent; /* Transparent background */
}

#resumePlayBtn::before {
    content: "\25B6"; /* Unicode for play icon */
    font-size: 30px;
    color: darkred; /* Dark red icon */
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
